h1{
    background-color: coral;
    text-align: center;
    padding:0,auto,50px
}
blockquote{
    background-color: yellow;

}

ul>li{
    display: inline;


}
img{
    width: 20%;
    margin: 0;
    display: inline;
    text-align: justify;


}
  
.bgede{
    display: inline;
}
    